<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/main.css">
    <meta charset="utf-8">
    <title>Expert</title>
  </head>
  <body>
    {% include "src/nunjucks/templates/header.njk" %}
    {% include "src/nunjucks/templates/advantage.njk" %}
    {% include "src/nunjucks/templates/clients.njk" %}
    {% include "src/nunjucks/templates/footer.njk" %}
  </body>
</html>
