<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <meta charset="utf-8">
    <title>Expert</title>
  </head>
  <body>

{% include "src/nunjucks/templates/header.njk" %}
{% include "src/nunjucks/templates/display_2.njk" %}
{% include "src/nunjucks/templates/display_3.njk" %}
{% include "src/nunjucks/templates/footer.njk" %}

  </body>
</html>
