@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
body {
  background-color: #fbfcfc;
  margin: 0;
  padding: 0;
  font-size:  0.87vw;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.d-flex{
  display: flex;
}
.display_1{


  .head{
    margin-top: 3.23vw;
    justify-content: space-between;
    width:   67.24vw;
    margin-top:  3.44vw;
    margin-left: 19.53vw;
    .user{
      width: 3.75vw;
      height: 3.75vw;
      background:  url(../img/user.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
    .menu {
      font-weight: 700;
      justify-content: center;
      .seach{
        width: 1.35vw;
        height: 1.35vw;
        background:  url(../img/seach.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin-left: 4.01vw;
        margin-top: 0.25vw;

      }
      .menu_item{
        display: block;
        margin-left: 3.021vw;
        .i {
          font-size: 0.87vw;
          text-decoration: none;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          color: #eaf1f6;
          line-height: 2;

        }
        .i:after {
          background-color: #45afe3;
          display: block;
          border-radius: 4px;
          content: "";
          height: 6px;
          width: 0%;
          -webkit-transition: width .3s ease-in-out;
          -moz--transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
        }
        .i:hover:after,
        .i:focus:after {
          width: 100%;
        }
      }
    }
  }
  .discerning  {
    flex-direction: column;
    width: 25.1vw;
    margin-left: 19.74vw;
    margin-top: 5.94vw;

    h1{
      font-size: 2.6vw;
      font-weight: 700;
      color: #fff;
      line-height: 3vw;
      margin-bottom: 2.4vw;
    }
    p{
      color: #fff;
      font-size: 0.94vw;
      line-height: 2vw;
      width: 28vw;
    }

    .button1{
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      outline: none;
      color: #37474f;
      height: 3.91vw;
      width: 11.46vw;
      border-radius: 1.04vw 0 1.04vw 1.04vw;
      background: #fff;
      box-shadow: 0 0 20px rgba(0,0,0,.2  );
      transition: .5s;
      margin-right: 0.805vw;
      margin-top: 3vw;
      span{

        font-weight: 800;
        font-size: 1.04vw;
      }
      .arrow{
        width:  1.77vw;
        height: 1.04vw;
        background:  url(../img/arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 0.805vw;
        display: block;

      }
    }

  }
  .images{
    div[class^="img"]{
      position: absolute;
    }
    .img_house{
      background: url(../img/house.png)no-repeat center top;
      background-size: cover;
      width: 50.26vw;
      height:  40.1vw;
      right: 5.63vw;
      top: 4.27vw;
      z-index: -1;
    }
    .img_cyckle{
      background: url(../img/ellips.png)no-repeat center top;
      background-size: cover;
      width: 6.15vw;
      height:  6.15vw;
      left: 3.39vw;
      top: 3.02vw;
    }
    .img_dot1{
      background: url(../img/dots2.png)no-repeat center top;
      background-size: contain;
      width: 43.33vw;
      height:   17.66vw;
      left: 6.46vw;
      top: 0vw;
      z-index: -1;
    }
    .img_dot2{
      background: url(../img/dots1.png)no-repeat center top;
      background-size: contain;
      width: 43vw;
      height:   17.71vw;
      left: 56.6vw;
      top: 0vw;
      z-index: -1;
      overflow: hidden;
    }
    .img_hulf{
      background: url(../img/cykle.png)no-repeat center top;
      background-size: cover;
      width: 32.97vw;
      height: 2.66vw;
      right: 11.2vw;
      top: 0vw;
    }
    .img_pirp{
      background: url(../img/left_pirp.png)no-repeat center top;
      background-size: cover;
      width: 5.70vw;
      height: 46vw;
      left: 0vw;
      top: 1vw;

    }
    .background{
      background: url(../img/фон.png)no-repeat center top;
      background-size: cover;
      position: absolute;
      z-index: -10;
      width: 100vw;
      height: 42.45vw;
      top: 0;
      left: 0;
    }


  }
}
.display_2{

  width: 100%;
  flex-direction: column;
  margin-top:18.23vw;
  .background2{
    background: url(../img/тень.png)no-repeat center top;
    background-size: cover;
    position: absolute;
    z-index: -10;
    width: 92.24vw;
    height: 142vw;
    top: 0;
    right:  0;
    overflow: hidden;
  }
  .background3{
    background: url(../img/фон2.png)no-repeat center top;
    background-size: contain;
    position: absolute;
    z-index: -10;
    width: 100vw;
    height: 94vw;
    top: 80.5vw;
    right:  0;
    overflow: hidden;
  }
  .ellips1{
    background: url(../img/Ellipse_blue02.png)no-repeat center top;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 6.15vw;
    height: 6.15vw;
    top: 75.94vw;
    right: 17.4vw;
    overflow: hidden;
  }
  .ellips2{
    background: url(../img/ellips_blue02.png)no-repeat center top;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 2.4vw;
    height: 2.4vw;
    top: 85.26vw;
    left: 10.89vw;
    overflow: hidden;
  }
  .ellips2{
    background: url(../img/ellips_blu03.png)no-repeat center top;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 3.07vw;
    height: 6.15vw;
    top: 103.7vw;
    left: 0vw;
    overflow: hidden;
  }

  .why{
    display: block;
    margin: auto;
    text-align: center;
    line-height:2vw;
   }
  .advantages{
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 61.2vw;
    div[class^="block"]{

      width: 28.75vw;
      height: 31.25vw;
      background-color: #fff;
      border-radius: 1vw 0 1vw 1vw;
      margin-top: 3vw;
      .logo_block_1{
        background: url(../img/block01.png)no-repeat center;
      }
      .logo_block_2{
        background: url(../img/block02.png)no-repeat center;
      }
      .logo_block_3{
        background: url(../img/block03.png)no-repeat center;
      }
      .logo_block_4{
        background: url(../img/block04.png)no-repeat center;
      }
      div[class^="logo_block"]{
        background-size: contain;
        width: 21.04vw;
        height: 7.81vw;
        margin: auto;
        padding-top: 3.59vw;
      }
      h2{
        width: 21.04vw;
        margin: auto;
        margin-bottom: 1.2vw;
      }
      p{
        width: 21.04vw;
        margin: auto;
      }
    }
  }
  .button2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    height: 3.91vw;
    width: 14.58vw;
    border-radius: 1.04vw 0 1.04vw 1.04vw;
    background: #2fc9ef;
    box-shadow: 0 0 20px rgba(0,0,0,.2  );
    transition: .5s;
    margin: auto;
    margin-top: 5.89vw;

    .arrow{
      width:  1.77vw;
      height: 1.04vw;
      background:  url(../img/arrow2.png);
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 0.805vw;
      display: block;
    }
  }
}
.display_3{


     .com{
       background: url(../img/com.png)no-repeat center top;
       background-size: cover;
       position: absolute;
       z-index: -10;
       width: 19.84vw;
       height:14.95vw;
       top: 209.53vw;
       left: 12.86vw;
     }
     .clients{
       width: 74.48vw;
       margin: auto;
       margin-top: 40.83vw;
       h2{
         margin-left: 27vw;
       }
     }
}
footer{
  margin-top: 95.36vw;
  .background_footer{
    background: url(../img/фон3.png)no-repeat center top;
    background-size: cover;
    position: absolute;
    z-index: -10;
    width: 100vw;
    height:63.02vw;
    top: 239.32vw;
    right: 0;
    }
    .footer_nav{
        color: #fff;
        margin: auto;
        width: 72.92vw;
        justify-content: space-between;

      .logo{
        width: 3.85vw;
        height: 3.85vw;
        background:  url(../img/user.png);
        background-repeat: no-repeat;
        background-size: contain;
        align-self: flex-start;
        margin-top: 1.04vw;
        margin-right: 2.66vw;
      }
      h3{
        margin-top: 0;
        font-size: 0.9vw;
      }
      p{
        font-size: 0.7vw;
        width: 17.97vw;
        margin-right: 1vw;
      }
      ul{
        display: block;
        width: 8.02vw;
        li{
          list-style-type: none;
          margin-left:  -37px;
          a{
            color: #fff;

          }
        }
      }
    }
    hr{
      width: 73.44vw;
      color: #69aaeb;
      border: none;
      background-color: #69aaeb;
      height: 2px;

    }
    .lusted{
      justify-content: space-between;
      width: 73.44vw;
      margin: auto;
      p{
      font-size:  0.73vw;
      color: #ffffff;
      }
      .social{
        width: 8.23vw;
        height: 2.45vw;
        justify-content: space-between;
        margin-top: 1.8vw;
        div[class^="c_"]{
          width: 2.45vw;
          height: 2.45vw;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .c_fb{
            background:  url(../img/fb.png);
        }
        .c_inst{
            background:  url(../img/inst.png);
        }
        .c_tw{
            background:  url(../img/wt.png);
        }
      }
    }
}
