<div class="display_2 d-flex">

  <div class="background2">
  </div>
  <div class="background3">
  </div>
  <div class="ellips1">
  </div>
  <div class="ellips2">
  </div>
  <div class="ellips3">
  </div>
  <h1 class="why">Why Arda<br>Real Estate Consulting?</h1>
  <div class="advantages d-flex">
    <div class="block_1">
      <div class="logo_block_1"></div>
      <h2>Excellent reputation.</h2>
      <p>The Arda Real Estate Consulting reputation <br> among investors was
         formed by our <br> Research group and has been reinforced by our Consulting
          team by providing well thought-out, unbiased commendations and advice.
      </p>
    </div>
    <div class="block_2">
      <div class="logo_block_2"></div>
      <h2>Experienced team.</h2>
      <p>Our Consulting group is led by a senior management team each with 20+
         years of <br> direct executive level homebuilding, <br> development, and consulting
         experience.
      </p>
    </div>
    <div class="block_3">

      <div class="logo_block_3"></div>

      <h2>National Footprint.</h2>
      <p>Many of our clients operate throughout the country. We are one of the largest
         and most geographically diverse consulting groups <br> which allows us to best service
         their needs.
      </p>
    </div>
    <div class="block_4">
      <div class="logo_block_4">  </div>
      <h2>Excellent Service.</h2>
      <p>Often times our clients do not have full control over <br> timing for their deals and the
        Consulting <br> team has a knack for making miracles happen.
      </p>
    </div>
  </div>
  <a href="#" class="button2"><span>Contact us now</span><div class="arrow"></div></a>

</div>
