<div class="display_3 d-flex">

  <div class="background4"></div>
  <div class="com"></div>

  <div class="clients d-flex">
    <h2>Client’s testimonials</h2>
    <div class="slider"></div>
  </div>
</div>
