<footer>
  <div class="background_footer"></div>
  <form class="" action="index.html" method="post">

  </form>
  <div class="footer_nav d-flex">
    <div class="logo">
    </div>
    <p>Arda Real Estate Consulting provides <br> independent
       research and consulting services <br> related to the US housing industry.<br><br>
       Our experienced team of analysts and <br> consultants helps our clients identify
       the best <br> risk-adjusted investment opportunities.
    </p>
    <div class="our_company">

    <h3>OUR COMPANY</h3>
    <ul>
      <li><a href="#">Our Company</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Research</a></li>
      <li><a href="#">Consulting</a></li>
      <li><a href="#">Careers</a></li>
    </ul>
    </div>
    <div class="our_company">

    <h3>OUR EXPERTS</h3>
    <ul>
      <li><a href="#">Team</a></li>
      <li><a href="#">Coverage</a></li>
    </ul>
    </div>
    <div class="our_company">

    <h3>OUR VALUES</h3>
    <ul>
      <li><a href="#">Propiertary Tools</a></li>
      <li><a href="#">Forecasting</a></li>
      <li><a href="#">Surveys</a></li>
      <li><a href="#">Surban</a></li>
      <li><a href="#">Demographics</a></li>
      <li><a href="#">DesignLens</a></li>
    </ul>
    </div>
    <div class="our_company">

    <h3>CONTACT</h3>
    <ul>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Office Locations</a></li>
      <li><a href="#">Newsletter Sign-Up</a></li>
      <li><a href="#">Social Media</a></li>
    </ul>
    </div>
</div>
<hr>
<div class="lusted d-flex">

    <p>Arda Real Estate Consulting, LLC <br>
      Copyright © 2018
    </p>
    <div class="social d-flex">
      <div class="c_inst">
      </div>
      <div class="c_fb">
      </div>
      <div class="c_tw">
      </div>
    </div>

</div>
</footer>
