<footer>

  {% for img in backgroundImgFooter %}
    <div class={{img}}></div>
  {% endfor %}

  <form class="d-flex" action="index.html" method="post">
    <div class="name-email d-flex">

      <h2>Let us hear your <br>thoughts</h2>

      <p>If you have any questions about our consulting services, please contact us </p>

      <label for="name">Full name</label>
      <input type="text" name="name" placeholder="How we should call you?">

      <label for="mail">Email addres</label>
      <input type="text" name="mail" placeholder="Enter a valid email address">
    </div>

    <div class="your-projects d-flex">

      <label for="message">your message</label>
      <textarea name="message" cols="40" rows="3" placeholder="Tell us more about your projects"></textarea>

      <button class="button-submit" type="button" name="button">
        Submit
        <div class="arrow"></div>
      </button>

    </div>

    <div class="map">
      <address>
        Sacramento, CA                <br>
                                      <br>
        222 Woodmere Road , Suite 250 <br>
        Folsom, California 95630      <br>
                                      <br>
        p  949-870-1227               <br>
      </address>
    </div>
  </form>

  <div class="footer-nav d-flex">

    <div class="logo"></div>

    <p>Arda Real Estate Consulting provides <br> independent
      research and consulting services <br> related to the US housing industry.<br><br>
      Our experienced team of analysts and <br> consultants helps our clients identify
      the best <br> risk-adjusted investment opportunities.
    </p>

{% include "src/nunjucks/nav/navFooter.njk" %}

  </div>

  <hr>

  <div class="lusted d-flex">

    <p>
       Arda Real Estate Consulting, LLC <br>
       Copyright © 2018
    </p>

    <div class="social d-flex">

      <div class="c-inst"></div>
      <div class="c-fb"></div>
      <div class="c-tw"></div>

    </div>

  </div>
</footer>
