<ul class="menu d-flex">
	<li class="menu_item"><a href="#" class="i">OUR COMPANY</a></li>
	<li class="menu_item"><a href="#" class="i">OUR EXPERTS</a></li>
	<li class="menu_item"><a href="#" class="i">OUR VALUES</a></li>
	<li class="menu_item"><a href="#" class="i">CONTACT</a></li>
	<li class="seach"><a href="#"></a></li>
</ul>
